<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="cmis" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="cmis" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="cmis" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="cmis" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>CMIS</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- build:css css/cmis.min.css -->
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <link rel="stylesheet" href="bower_components/bootstrap-css/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css"/>
  <!-- endbuild -->
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body ng-controller="CmisCtrl">
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
    <div class="container-fluid">
      <div class="navbar-header">
        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="#" class="navbar-brand">Capacity Management Information System</a>
      </div>
      <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
          <ul class="nav navbar-nav">
            <li>
              <a href="#">CI report</a>
            </li>
          </ul>

          <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search" ng-model="query">
            </div>
          </form>
      </nav>
    </div>
  </header>

  <div class="container-fluid">
      <div class="row">
          <div class="col-md-2 sidebar">
              <!-- Sidebar content -->
              <ul class="products">
                <li ng-repeat="p in products | filter:query">
                  <a href="#{{p.slug}}">{{p.name}}</a>
                </li>
              </ul>
          </div>
          <div class="col-md-10">
              <div class="ci">
                  <h3>{{ci.name}}</h3>
		  <p>{{ci.description}}</p>

                  <h4>Instances</h4>
		  <ul class="instances">
		    <li ng-repeat="instance in ci.instances">{{instance}}</li>
		  </ul>
		  
                  <h4>Measurements</h4>
		  <ul class="measurements">
		    <li ng-repeat="measurement in ci.measurements" class="measurement">
		      <h5>{{measurement.name}}</h5>
			
                      <ul class="charts">
                        <li ng-repeat="chartData in measurement.charts" class="chart">
                          <div>
                            <cjs-line class="chart" options="options" dataset="chartData" height="400" width="700"></cjs-line>
                          </div>
                        </li>
                      </ul> <!-- charts -->
                    </li>
		  </ul> <!-- measurements -->
              </div> <!-- ci --->
          </div>
      </div>
  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->

  <!-- build:js js/cmis.min.js -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/Chart.js/Chart.js"></script>
  <script src="bower_components/ng-chartjs/src/js/main.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/bootstrap-css/js/bootstrap.js"></script>
  <!-- endbuild -->

</body>
</html>
